*{
    box-sizing: border-box;
}

body {
    background-color: #D2DBDC;
    margin: 0;
    font-family: 'segoe UI', Helvetica Neue, Helvetica, Lucida Grade, Arial;

}

.app-window{
    display: flex;
    height: 100vh;
    background: #ededed;

}

.sidebar{
    width: 35%;
    max-width: 415px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #DDD;
    
}

.contentarea{

}